<div class="lateral_menu pt-4">
    <div class="perfil_photo">
        <%= image_tag current_user.perfil_photo %>
    </div>

    <hr />

    <b><%= current_user.name %></b>

    <hr />

    <%= link_to 'Início', root_path, class: "dropdown-item" %>

    <%= link_to 'Editar Perfil', edit_user_registration_path, class: "dropdown-item" %>

    <%= link_to 'Sair', destroy_user_session_path, class: "dropdown-item" %>

    <hr />
    
    <div class="selos">
        <h5>Selos</h5>

        <% if current_user.question_responses_percentage != 100 && 
            !current_user.responded_website && 
            !current_user.responded_public && 
            !current_user.responded_investment && 
            !current_user.responded_online_business %>

            <h6>Nenhum selo conquistado.</h6> 
            <h6>Complete atividades para conquistar selos.</h6>
        <% end %>

        <%= image_tag 'selos/social_media' if current_user.question_responses_percentage == 100 %>
        <%= image_tag 'selos/website' if current_user.responded_website %>
        <%= image_tag 'selos/public_media' if current_user.responded_public %>
        <%= image_tag 'selos/ads' if current_user.responded_investment %>
        <%= image_tag 'selos/to_the_world' if current_user.responded_online_business %>
    </div>
</div>