<div class="div_center">
    <div class="knowing_how">
        <div class="container">
            <h4>Minha Jornada.</h4>

            <hr />

            <p>
                Esse será o primeiro passo para a sua <b>entrada</b> no mercado digital, em <b>5 Passos</b>. <br />
                Aqui em baixo você poderá visualizar todo o <b>passo a passo</b> para seu negócio começar 
                a funcionar na <b>internet</b>!
            </p>

            <p>
                Lembre-se que cada tópico avançado lhe dará direito a algumas <b>conquistas</b>, 
                e assim você pode compartilhá-las, mostrando o quão digitalizado o seu negócio já está!
            </p>

            <hr />
            
            <div class="task">
                <div class="row">
                    <div class="col-8 <%= current_user.question_responses_percentage == 100 && 'responded' %>">
                        <h4>1º. O Guia Básico. <b>(<%= current_user.question_responses_percentage %> %)</b></h4>
                    </div>
                    
                    <div class="col-4">
                        <%= link_to 'Completar', initial_guide_index_path, class: 'button ms-4' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 <%= current_user.responded_website && 'responded' %>">
                        <h4>2º. <b>Website</b>, o cartão de visita do século XXI. <b>(<%= current_user.responded_website ? '100' : '0' %> %)</b></h4>
                    </div>
                    
                    <div class="col-4">
                        <%= link_to 'Completar', has_website_index_path, class: 'button ms-4' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 <%= current_user.responded_public && 'responded' %>">
                        <h4>3º. Conhecendo seu público. <b>(<%= current_user.responded_public ? '100' : '0' %> %)</b></h4>
                    </div>

                    <div class="col-4">
                        <%= link_to 'Completar', my_public_index_path, :"data-turbolinks" => false, class: 'button ms-4' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 <%= current_user.responded_investment && 'responded' %>">
                        <h4>4º. Preciso ter um investimento inicial? <b>(<%= current_user.responded_investment ? '100' : '0' %> %)</b></h4>
                    </div>

                    <div class="col-4">
                        <%= link_to 'Completar', initial_investment_index_path, class: 'button ms-4' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 <%= current_user.responded_online_business && 'responded' %>">
                        <h4>5º. Colocando meu negócio no Google! <b>(<%= current_user.responded_online_business ? '100' : '0' %> %)</b></h4>
                    </div>

                    <div class="col-4">
                        <%= link_to 'Completar', business_on_google_index_path, class: 'button ms-4' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>